@import "tailwindcss";

@theme{
    --color-primary: #2b7fff;
    --color-primary-dark: #2b60ff;
}
.TopMeasure{
    @apply text-sm font-semibold text-gray-800 absolute -top-6 left-1/2 -translate-x-1/2 ;
}
.BottomMeasure{
    @apply text-sm font-semibold text-gray-800 absolute rotate-180 top-2 left-1/2 -translate-x-1/2
}
.helperWall{
    @apply absolute bg-gray-300 border border-gray-600 z-50;
}
/* loader */
.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(#0000 calc(1*100%/6),#2b7fff 0 calc(3*100%/6),#0000 0),
            linear-gradient(#0000 calc(2*100%/6),#2b7fff 0 calc(4*100%/6),#0000 0),
            linear-gradient(#0000 calc(3*100%/6),#2b7fff 0 calc(5*100%/6),#0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    